@* /WorldFlagImages/Flag of Afghanistan.jpg *@
@model Country
@{
    List<Country> countries = ViewData["countries"] as List<Country>;
    GameTracker gameTracker = ViewData["gameTracker"] as GameTracker;
}
<h1>Play game</h1>

<h1 id="score">0</h1>
<div class="text-center">
    <img src="@Model.Flag" width="640" height="480" />

    @for (int i = 0; i < countries.Count; i++)
    {
        if(Model.Name == countries[i].Name)
        {
            <form method="get" action="/processguess" id="guess-@i">
                <input type="hidden" value="@Model.Name" name="correctAnswer" />
                <input type="hidden" value="@countries[i].Name" name="guess" />
                <button id="right-answer" type="button" onclick="makeGuess('@countries[i].Name')">@countries[i].Name</button>
            </form>
        }
        else
        {
            <form method="get" action="/processguess" id="guess-@i">
                <input type="hidden" value="@Model.Name" name="correctAnswer" />
                <input type="hidden" value="@countries[i].Name" name="guess" />
                <button id="wrong-answer" type="button" onclick="makeGuess('@countries[i].Name')">@countries[i].Name</button>
            </form>
        }
      
    }
</div>

<h1>@gameTracker.Id</h1>
<div class="visually-hidden">
    <form method="get" action ="/play/@gameTracker.Id">
        <button type="submit">next</button>
    </form>
</div>



<style>
    .bad-answer{
        background-color:red;
    }

    .good-answer{
        background-color:green;
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function makeGuess(country) {
        $.ajax({
            url: '/processguess/@gameTracker.Id',
            type: 'POST',
            data: JSON.stringify({ CorrectAnswer: '@Model.Name', Guess: country }),
            contentType: 'application/json',
            async: true,
            success: function (response) {
                RemoveHiddenClass();
                UpdateRightAnswer();
                UpdateWrongAnswers();
                if (response == "CORRECT") {
                    UpdateScore();
                }      
            },
            error: function (xhr, status, error) {
                alert("error!!!");
            }
        });
    }

    function RemoveHiddenClass() {
        const hiddenElement = document.querySelector(".visually-hidden")
        hiddenElement.classList.remove("visually-hidden")
    }

    function UpdateRightAnswer(){
        const answer = document.querySelector('#right-answer')
        answer.classList.add('good-answer')
    }

    function UpdateWrongAnswers() {
        const answers = document.querySelectorAll('#wrong-answer')
        answers.forEach((element) => {
            element.classList.add('bad-answer')
        })
    }

    function UpdateScore() {
        var score = parseInt(document.querySelector('#score').innerHTML)
        document.querySelector('#score').innerHTML = score + 1;


    }

    $(document).ready(function () {
        // Call makeGuess function with a country argument
    });
</script>
