@* /WorldFlagImages/Flag of Afghanistan.jpg *@
@model Country
@{
    List<Country> countries = ViewData["countries"] as List<Country>;
}
<h1>Play game</h1>

<div class="text-center">
    <img src="@Model.Flag" width="640" height="480" />
    <h4>@Model.Name</h4>

    @for (int i = 0; i < countries.Count; i++)
    {
        <form method="get" action="/processguess" id="guess-@i">
            <input type="hidden" value="@Model.Name" name="correctAnswer" />
            <input type = "hidden" value="@countries[i].Name" name="guess" />
            <button type="button" onclick="makeGuess('@countries[i].Name')">@countries[i].Name</button>
        </form>
    }
</div>

<div class="visually-hidden">
    <form method="get" action ="/play">
        <button type="submit">next</button>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    // Define makeGuess function in the global scope
    function makeGuess(country) {
        $.ajax({
            url: '/processguess',
            type: 'POST',
            data: JSON.stringify({ CorrectAnswer: '@Model.Name', Guess: country }),
            contentType: 'application/json',
            async: true,
            success: function (response) {
                alert(response);
                RemoveHiddenClass();
            },
            error: function (xhr, status, error) {
                alert("error!!!");
            }
        });
    }

    function RemoveHiddenClass() {
        const hiddenElement = document.querySelector(".visually-hidden")
        hiddenElement.classList.remove("visually-hidden")
        // hiddenElements.forEach(element => {
        //     element.classList.remove(".visually-hidden");
        // });
    }

    $(document).ready(function () {
        // Call makeGuess function with a country argument
    });
</script>
